@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    background: #000000;
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    height: 100vh;
    color: #ffffff;
}

nav {
    width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  border-bottom: 2px solid #ffffff;
  height: 8.7rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  z-index: 1;
  background: #000000;
}

nav h3 {
    position: absolute;
    top: 2.5rem;
    left: 3.8rem;
}

nav ul {
    position: absolute;
    right: 7.6rem;
    display: flex;
    width: 40%;
    margin-top: 2.5rem;
    justify-content: space-between;
    margin-right: -3.8rem;
}

nav ul li a {
    color: #ffffff;
}

.hero {
    display: flex;
}

.hero #img1 {
    position: absolute;
    top: 17rem;
    left: 10rem;
    width: 55rem;
}

.hero #img2 {
    width: 50rem;
    height: 30rem;
    position: absolute;
    top: 28rem;
    left: 75rem;
}

.hero a img {
    position: absolute;
    top: 58rem;
    left: 70rem;
}

#aboutUs {
    background: #ffffff;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#aboutUs img {
    margin-top: 20rem;
    width: 40rem;
    height: 55rem;
}

#aboutUs .side {
    margin-top: 20rem;
    width: 60rem;
    /* border: 2px solid blue; */
}

#aboutUs .side h2 {
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 700;
}

#aboutUs .side p {
    margin-top: 5rem;
    font-size: 24px;
}

#ourServices {
    background: #ffffff;
    border: 2px solid red;
}

#ourServices h2 {
    margin-top: 10rem;
    margin-left: 7.5rem;
    font-size: 7rem;
    font-weight: 700;
    text-transform: uppercase;
}

#ourServices .wrapper-services {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    margin-left: 7.5rem;
    /* border: 2px solid red; */
    margin-top: 5rem;
    margin-bottom: 10rem;
}

#ourServices .wrapper-services .services {
    border: 1px solid black;
    width: 40rem;
}

#ourServices .wrapper-services .services:hover {
    background-color: #000000;
    color: #ffffff;
    transition: 0.3s ease-in;
}

#ourServices .wrapper-services .services h3 {
    font-weight: 400;
    font-size: 4rem;
    padding: 3rem;
}

#ourServices .wrapper-services .services p {
    margin-top: -5rem;
    font-size: 1.5rem;
    padding: 3rem;
}

#contacts h2 {
    color: #ffffff;
    font-size: 7rem;
    position: absolute;
    left: 45rem;
    margin-top: 5rem;
}

#contacts form {
    position: absolute;
    top: 220rem;
    left: 30rem;
}

#contacts form input {
    display: block;
    width: 70rem;
    height: 4rem;
    margin-bottom: 2rem;
    background: black;
}

#contacts form button {
    padding: 1rem 5rem;
    font-size: 1.5rem;
    margin-bottom: 10rem;
}

#contacts form button:hover {
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    nav {
        width: 30%;
        font-size: 1.8rem;
        background: red;
    }

    nav ul {
        margin-top: 0.5rem;
        left: 28.6rem;
        width: 22%;
        flex-direction: column;
        font-size: 1.5rem;
    }
}